.ipynb_checkpoints/
*.txt
*.db
*.csv
*.npy
*.pkl
*.joblib
app/__pycache__
models/TestingDatabaseFileReading.ipynb
app/TestModelOutputParsing.ipynb
models/GeneratingNovelPlots.ipynb
models/predicted.joblib
lemm_vs_stem.py
.DS_Store
*~
